@model Assignment2.Models.ViewModels.StudentViewModel

@{ViewData["Title"] = "Students"; }

<h1>Students</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                LastName
            </th>
            <th>
                FirstName
            </th>
            <th>
                EnrollmentDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.Id">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="EditMemberships" asp-route-id="@item.Id">Edit Memberships</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Communities != null)
{
    <h2>Member of the Following Communities</h2>

    @if (Model.Communities.Count() == 0)
    {
        <h4>No membership record exists</h4>
    }

    <table>
        @if (Model.Communities.Count() > 0)
        {
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var com in Model.Communities)
                {
                    <tr>
                        <td>
                            @com.Title
                        </td>
                    </tr>
                }
            </tbody>
        } 
    </table>
}
