@model Assignment2.Models.ViewModels.AdsViewModel;

@{
    ViewData["Title"] = "Ads";
}

<h1>Show ads for Community @Model.Community.Title.ToString()</h1>

<p>
    <a asp-action="Create" asp-route-id="@Model.Community.Id">Create New</a>
</p>

<p>
    <a asp-action="BackToList">Back to List</a>
</p>

@if (Model.Ads.Count() == 0)
{
    <p>There are no Ads for this community</p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                File Name
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var image in Model.Ads)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => image.FileName)
                </td>
                <td>
                    <img src="@image.Url" style="max-width: 400px;" />
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@image.AdId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

}
