@model Assignment2.Models.ViewModels.AdsViewModel;

@{
    ViewData["Title"] = "Index";
}

<h1>Show ads for Community @Model.Community.Title.ToString()</h1>

<p>
    <a asp-action="Create" asp-route-id="@Model.Community.Id">Create New</a>
</p>

@if (Model.Ads.Count() == 0)
{
    <p>There are no Ads for this community</p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                File Name
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
</table>

@foreach (var image in Model.Ads)
{
        <dl>
            <dt>
                @Html.DisplayFor(modelItem => image.FileName)
            </dt>
            <dd>
                <img src="@image.Url" style="max-width: 400px;"/>
            </dd>
            <dt>
                <a asp-action="Edit" asp-route-id="@image.AdId">Edit</a> |
                <a asp-action="Details" asp-route-id="@image.AdId">Details</a> |
                <a asp-action="Delete" asp-route-id="@image.AdId">Delete</a>
            </dt>
        </dl>
}


}
